body {
  min-height: 100%;
  text-align:center;
  margin:0%;
  padding:0%;
  font-family: 'Merriweather', serif;
}

h1, h3 {
  font-family: 'Amaranth', sans-serif;
}

h2 {
  font-family: 'Quattrocento Sans', sans-serif;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 5%;
}

.nav {
  background-color: #8541f4;
}

.nav ul{
  list-style-type: none;
  display:flex;
  justify-content:space-around;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav li{
  font-family: 'Amaranth', sans-serif;
  font-size: 24px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover{
  color: #2de23b;
  text-decoration: underline;
}

.banner {
  background-image: url(images/door.jpg);
  padding: 4%;
  margin: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 42px;
}

.banner h1{
  font-family: 'Amaranth', sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.banner h2{
  font-family: 'Quattrocento Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}

.intro{
  display: flex;
  padding:0px;
  margin:5%;
}

.right .left{
  flex: 1;
}

.right {
  padding: 10%;
  margin: 0px;
  background-image: url(images/highlight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 28px;
  color: #ffffff;
}

.right a{
  color: #ffffff;
  background-color: #8541f4;
  font-size: 18px;
  padding: 6px 10px;    
}

.right a:hover{
  color: #ffffff;
  background-color: #f442c5;
  font-size: 18px;
  padding: 6px 10px;    
}

.left {
  padding: 10%;
  background-image: url(images/redgirl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 28px;
  color: #ffffff;
}

.left a{
  color: #ffffff;
  background-color: #2e3d23;
  font-size: 18px;
  padding: 6px 10px;    
}

.left a:hover{
  color: #ffffff;
  background-color: #c60000;
  font-size: 18px;
  padding: 6px 10px;    
}

.brown, .pink {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.brown a{
  color: #ffffff;
  background-color: #802000;
  font-size: 18px;
  padding: 6px 10px;    
}

.brown a:hover{
  color: #ffffff;
  background-color: #ffc34d;
  font-size: 18px;
  padding: 6px 10px;    
}

.pink a{
  color: #ffffff;
  background-color: #f442c5;
  font-size: 18px;
  padding: 6px 10px;    
}

.pink a:hover{
  color: #f442c5;
  background-color: #ffccee;
  font-size: 18px;
  padding: 6px 10px;    
}

.newsletter {
  margin:2% 30%;
  padding:0%;
  border: 1px solid #8541f4;
  background-color: #8541f4;
}


.footer img{
  width:25px;
  margin:0%;
}

.footer{
  padding: 2%;
  margin: 0 auto;
  margin-bottom:-50%;
  text-align: center;
  
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #f442c5;
  color: #ffffff;
  padding: 12px 12px;
}

input[type=submit]:hover {
  background-color: #8541f4;
}

.message{
  padding: 0px;
  margin: 5%;
}

.contact {
  background-color: pink;
  padding: 35px;
  margin: 5%;
}

.parent{
  display: flex;
  align-items: flex-start; 
}

.parent h1 {
  text-decoration: underline;
}

.rightfeature, .leftfeature {
  flex: 1;
  padding: 2%;
  margin: 2%;
}

.aboutblue{
  border: 1px solid #193DF3;
}

.aboutred{
  border: 1px solid #e80b0b;
}

.blueimg, .redimg {
  margin:10px;
}

.signup{
  margin: 5%;
  padding: 5%;
  border: 1px solid #8541f4;
}

.signup a{
  color: #ffffff;
  background-color: #41aff4;
  font-size: 18px;
  padding: 6px 10px;    
}

.bottom {
  margin: 0 auto;
  width: 400px;
  height: 400px
}

.bottom ul{
  margin: 0px 0 10px 0;
  font-family: 'Amaranth', sans-serif;
}

.bottom li{
  margin: 0px 0 10px 0;
  list-style-type: none;
  font-family: 'Quattrocento Sans', sans-serif;
}

.aboutbrown{
  margin: 2%;
  border: 1px solid #583711;
}

.aboutpink{
  margin: 2%;
  border: 1px solid #f442c5;
}
